*{
    margin: 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family:Arial;
}
.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.uv:hover{
    opacity: 0.5;
}
h5{
    text-align: center;
}
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.abc{
    border: 1px solid white;
    background-color: white;
    margin: 10px 10px;
    padding: 5px;
}
.under{
    background-color: aliceblue;
}
.box{
    border: 2px solid orange;
    background-color:orange;
    padding: 10px;
    border-radius: 25px;
}
.box:hover{
    background-color:darkorange;
}
.trend a{
    text-decoration:none;
    color:black;
    }
.orderbox a{
    text-decoration:none;
    color:black;
}
.orderbox{
    border: 1px solid lightblue;
    border-radius: 15px;
    background-color: lightblue;
    padding: 5px 10px;
}
.orderbox:hover{
    background-color:rgb(96, 137, 195);
}
.orderboxx a{
    text-decoration:none;
    color:black;
    }
.orderboxx{
    border: 1px solid red;
    padding: 10px 20px;
}
.orderboxx:hover{
    background-color:darkred ;
}
.managehh{
    margin-top: 70px;
    margin-bottom: 70px;
}
.imgview{
    background-color: aliceblue;
}
.orderboxy a{
    text-decoration:none;
    color:black;
    }
.orderboxy{
    border: 1px solid lightcoral;
    background-color: whitesmoke;
    border-radius: 9px;
    padding: 10px 20px;
}
.orderboxy:hover{
    background-color: rgb(241, 94, 94);
    color: white;
}
.looking{
    background-image: url(images/againbackground.webp);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}
.bell img {
    border-radius: 20%;
  }
.uu img {
    border-radius: 6%;
  }
.noe img {
    border-radius: 6%;
  }
.uv img{
    border-radius: 4%;   
}
.trend{
    background-color: antiquewhite;
    padding: 25px 0px;
}
.design{
    background-color: rgb(220, 241, 241);
    padding: 25px 0px;
}
.design img{
    border-radius: 4%; 
}
.sizee{
    font-size: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container23 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row12:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .mainoop img{
    border-radius: 4%;
  }
  .imgview img{
    border-radius: 4%;
  }
  